.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 30%;
    height: auto;
    
    background-color: rgba(31, 29, 59, 0.849);
    z-index: 3;
    border-radius: 30px;
    position: fixed;
    top:30%;
    left: 35%;
    padding: 15px;
   
    
    
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-container > input{
    
    width: 80%;
    margin-bottom: 5px;
}

.modal-input {
    border-radius: 5px;
    border-style: none;
    height: 20px;
}
.form-container >label {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

#submit {
    
    
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1rem;
    background-image:
    linear-gradient(
      to right, 
      #5eacc4, 
      #304274 
    );
    border-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 3px;
    border-radius: 5px;
    
    
}


.modal > h1 {
    margin-bottom: 10px;
}

.modal > h2 {
    display: flex;
    justify-content: center;
    font-size: 1.7em;
}
.modal > h3 {
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .modal > h2 {
        font-size: 1.3rem
    }
    .form-container > input{
    
        width: 90px;
    }

    .form-container >label {
        font-size: 0.8rem;
    }
    .modal > button {
        font-size: 0.7rem 
    }
  } ;