:root {
    --z-index-overlay: 1;
}

@font-face {
    font-family: 'playstation';
    src: url('./zrnic___.ttf') format('truetype');
  }

@font-face {
    font-family: 'digital';
    src: url('./digital-7.ttf') format('truetype');
  }

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.nav {
    background-color:#171a21;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap:2rem;
    padding: 0 8rem;
    position: sticky;
    top: 0;
    z-index: var(--z-index-overlay);

}




.nav > ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    gap: 3rem;
    margin-top: 5px;
    
}


.site-name {
    font-size: 3.5rem;
    margin-top: 30px;
    color: rgb(173, 215, 231);
    font-family: 'playstation';
}

.site-time {
    font-size: 3.2rem;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(185, 184, 184);
    height: 55px;
    padding: 5px;
    padding-top: 8px;
    border-radius: 10px;
    font-family: 'digital';
    min-width: 170px;
}

.character-found {
    filter: brightness(10%);
    transition-property: filter;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0,-6.32, 0.46, 3.08);
    transition-delay: 0.1s;

}

.leaderboard-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.leaderboard-button > button {
    border-radius: 8px;
    margin-top: 4px;
    font-family: digital;
    font-size: 1.1rem;
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-style: none;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}

.leaderboard-open {
    background-color:rgb(230, 114, 114)
}
.leaderboard-closed {
    background-color: rgb(83, 189, 83)
}

.leaderboard-button > button:hover {
    color: rgb(255, 255, 255);
}